.div{
	width: 350px;
	height: 440px;
	border: 5px solid darkorange;
	border-radius: 20px;
	background: lightyellow;
	margin-left: 600px;
}
.sub{
	margin-left: 30%;
	color: darkgreen;
	background: lightgreen;
	border-color: darkgreen;
}
.div2{
	margin-top: 10px;
	margin-left: 15px;
	font-style: italic;
}
h3{
	color: red;
	text-align: center;
}
.bord{
	border-radius: 10px;
	outline: 0;
}
